{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/login-bg.jpg')}}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Log in</h1>
          <span class="subheading">You are welcome!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto content">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="flashes">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
      {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "outline-dark"}) }}
    </div>
  </div>
</div>


{% include "footer.html" %}
